Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

-Create a Jupyter Notebook
-Insert code and markdown cells
-Share your notebook through GitHub
-List popular languages for Data Science
-List popular libraries

##  Author
    Shahed

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Data Science Tools
..................
Jupyter Notebook
RStudio
Git


### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335